.taste-breaker-header {
    color: var(--spice-text);
    font-size: 2em;
}

.header {
    font-weight: 700;
    color: var(--spice-text)
}

.header-title {
    font-size: 2em;
    width: -moz-fit-content;
    padding-bottom: 0.2em;
    margin: 0;
}

.genre-list {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    color: var(--spice-text)
}

.genre-card {
    padding: 1.5em 1.5em;
    margin-bottom: 1em;
    min-width: 412px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.genre, .artist-track {
    max-width: 1024px;
    margin: 0 auto;
}

.cardSubHeader {
    margin-top: 4px;
    white-space: normal;
    color: var(--spice-subtext);
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

.badge-rank {
    font-size: 1.5rem;
    left: 0;
    position: absolute;
    top: 0.5rem;
    border-radius: 0 25% 25% 0;
    color: var(--spice-text);
    background-color: #343a40;
}


.badge-popularity {
    border-radius: 25% 0 0 25%;
    font-size: 1.25em;
    position: absolute;
    right: 0;
    top: 0.5rem;
    user-select: none;
}

.badge-SS-tier {
    color: var(--spice-text);
    background-color: #288745;
}

.badge-S-tier {
    color: var(--spice-text);
    background-color: #006dff;
}

.badge-A-tier {
    color: var(--spice-text);
    background-color: #9954bb;
}

.badge-B-tier {
    color: var(--spice-text);
    background-color: darkgoldenrod;
}

.badge-C-tier {
    color: var(--spice-text);
    background-color: #dc3545;
}
